* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    display: flex;
    background-color: #d6d3d3;
    height: 7vh;
    
}

nav div {
    display: flex;
    align-items: center;
    flex: 50%;
}

nav div.left{
    padding-left: 70px;
}

nav div.right{
    display: flex;
    padding-right: 70px;
    justify-content: flex-end;
}

nav div.right a{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

nav ul{
    list-style: none;
    margin-left: 40px;
    
}

nav ul li{
    margin-left: 40px;
    display: inline;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

nav ul li a.MP{
    font-weight: 800;
}

div.main-body{
    display: flex;
    justify-content: center;
}

div.main-body h1{
    text-align: center;
    margin: 20px;
    padding: 20px;
}

div.main-body .body-top{
    display: flex;
}

div.main-body .duration{
    width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    
}

div.main-body .duration p{
    margin: 5px;
    font-weight:bold;
    font-size: larger;
    
}
div.main-body .duration div.date{
    margin: 10px;
    font-size: 20px;
}

div.main-body .duration div.range{
    margin:10px;
    font-size: 20px;
}

div.main-body div.technologies{
    margin-top: 20px;
    font-size: 25px;
    word-spacing: 5px;

}
div.main-body div.technologies p{
    font-size: larger;
    margin-top: 10px;

}
div.main-body div.technologies div.atas{
    padding: 10px;
}

div.main-body div.technologies div.bawah{
    padding: 10px;
}
div.main-body div.foto{
    margin: none;
    width: 60%;
    padding: 10px;
}

div.main-body div.foto img{
    width: 90%;
}

div.para{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    text-align: justify;
    font-size: medium;
}

div.para p{
    margin-top: 10px;
}